/* remove thic comment to add @import font or CSS variables at the top of this file */
* {
  box-sizing: border-box;

}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}



/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR styling/typesetting CSS code BELOW HERE */

* {
  font-size: 10px;
}

body {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2rem;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: .15rem
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

.center {
  text-align: center;
}

p {
  word-spacing: .2rem;
  letter-spacing: .02rem;
}

section p:first-of-type {
  text-indent: 1.25rem;
}

a {
  color: #a66;
}

a:visited {
  color: #653333;
}

a:focus{
  color: #e46464;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #e79c9c;
  text-decoration: none;
}

a:active {
  color: #237777;
}

a[href^='http']::after {
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.25em;
  background-size: 100%;
  background-image: url(external-link-52.png);
}


li{
  /* same as p */
  line-height: 1.2rem;
  word-spacing: .2rem;
  letter-spacing: .02rem;
}

/* copilot-assisted */
ul li{
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
}
ul li::before {
  content: '>';
  position: absolute;
  left: 0;
}
/**/

nav ul li {
  border: 1px solid #a66;
  margin: 0.5rem 0;
  padding: 0.5rem;
  list-style: none;
  text-align: center;
}


nav ul li:before{
  content: '';
}

nav a{
  text-decoration: none;
  display: block;
}